img{
	display: flex;
	justify-content: center;
	margin-right: auto;
	margin-left: auto;
	width: 400px;
	
   box-shadow: 2px 3px 3px black;
}

 body {
            height:1600px;
         }
         

#logo{
	margin-left: auto;
	margin-right: auto;
	width:100%;text-align:center;
}



.char {
            z-index: 10;
            -webkit-filter: blur(0px);
            width: 400px;
            margin-left:auto; ;
            margin-right: auto;
            position: relative;
            margin-bottom: 200px;
}


#one
{
margin-top: 300px;
}